/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 9, 2022, 11:06:56 PM
    Author     : haiph
*/

.rooms{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.rooms .room1{
    background-color: indianred;
    border: 2px;
    border-style: solid;
    border-color: blue;
    margin-left: 5%;
    height: 250px;
    width: 150px;
}

.rooms .room1 .occupied{
    margin-left: 30px;
    color: red;
}
.rooms .room1 .vacant{
    margin-left: 30px;
    color: #00ff00;
}
.rooms .room1 .Title{
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: bisque;
    color: wheat;
}
